<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test Media App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  ms-auto" id="navbarNavDropdown">
      <ul class="navbar-nav  ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/watchList">ჩემი რჩეულები</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


